body{
    background-color: rgb(157, 92, 218);
    font-size: 25px;
    font-family: "Courier New", sans-serif;
}

.title{
    background-color: rgba(255, 255, 255, 0.445);
    text-align: center;
    font-size: 70px;
}

.listmain{
    text-align: center;
    font-size: 30px;
    list-style-position: inside;
}

img{
    height: 500px;
    width: auto;
}

h2,
h3{
    font-size: 35px;
}



